
.past-orders-main-container {
    font-family: 'Gloock', serif;
    color: #5B5941;
}
.past-orders-container {
    margin-left: auto;
    margin-right: auto;
}

.order-container {
    width: 80%;
    border: whitesmoke 1px solid;
    border-radius: 5px;
    margin: 1rem auto 1rem auto;
    background-color: #87B6A7;
}

.order-container-header{
    display: flex;
    justify-content: space-evenly;
    background-color: #F7D08A;
    opacity: 0.8;
}


.order-ingredients-container{
    flex-wrap: nowrap;
    align-items: center;
    
}

.ingredients{
    display: inline-block;
    width: 8vw;
    height: 30vh;
    border: whitesmoke 1px solid;
    border-radius: 5px;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;

}