.new-orders-container{
    display: flex;
}

.new-orders-container .main-sub{
    flex:1;
    border: var(--ebony) 2px solid;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.new-order-ingredient-list {
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}
