.main-components-container{
    display: flex;
}

.main-components-container .main-sub{
    flex:1;
    border: var(--ebony) 2px solid;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
}
.jig {
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;  
}
