.edit-form{
    display: flex;
    flex-direction: row;
}
.edit-form label{
    margin: auto;
}
.edit-form input{
    max-width: 20vw;
    margin: auto;
    
}
.btn-edit{
    max-width: 20vw;
    margin: auto;
    border: 2px solid var(--ebony);
}
.btnss{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    margin-right: 5vw;
    margin-top: 1.5vh;
    
}
.inputss{
    margin-right: auto;
    margin-left: 5vw;
}

.edit-list-container .ingredient-name-and-price {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}