.edit-list-container .jig .ingredient-container {
    width: 50vw;
    margin: auto;
    border: 1px solid var(--ebony);
    border-radius: 5px;
    background-color: var(--green);
    margin-bottom: 4vh;
     box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; 
   
}
.edit-list-container .inline{
    flex-direction: row;
    color: var(--ebony);
    display:flex;
}
.edit-list-container .edit-form{
    background-color: var(--blue);
    padding: 2vh;
    color: var(--ebony);
}
.edit-list-container .h3{
    margin: 2vh auto 2vh 10vw;
}
.edit-list-container .price{
    margin: 2vh 10vw 2vh auto;
}


