.icon {
    margin-left: 2vw;
    padding: 12.5px;
    border: 2px solid black;
    border-radius: 60%;
    background-color: white;
    height: 50px;
    width: 50px;
    margin-top: inherit;
  }

  .title {
    font-size: 8vh;
    margin-right: auto; 
    margin-top: inherit;
    margin-bottom: 0;
    color: var(--red);
  }

  .links{
    text-decoration: none;
    color: black;
    margin-top: inherit;
    max-height: 2vh;
    padding: 2vh 0 0 0;
    margin-right: 5vh;
  }
  
  .design {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 3vh;
  }