.icon{
  
    margin: auto;
    margin-bottom: 5vh;
    padding: 0vh o 1vh 0;
    border: 2px solid #F7D08A;
    border-radius: 60%;
    background-color: white;
    max-height: 20vh;
    width: 10vw;
    max-width: 8vw;
    margin-top: 9vh;
  }
  .title{
    /* display: inline-flex; */
    font-size: 8vh;
    flex-direction: column;
    margin: auto; 
    text-decoration: underline #F7D08A;

  }
  .NavBar {
    border: 5px solid #E3F09B;
  }
  .links{
    color: #5B5941;
    text-decoration: underline ;
    color: black;
    margin-top: 1vh;
     max-height: 2vh;
  }
  .links:hover{
    color: red;
  }
  .links:click{
    color: white;
  }
  .design{
    display: flex;
    /* flex-direction: column; */

    order: 1 ;
  
  }
  